/* body{
  min-height: 100vh;
  place-content: center;
  background-color: hsl(30, 38%, 92%);
} */
body {
  background-color: var(--Cream);
  
}
.container {
  margin: 1.5em 0.6em;
  background-color: var(--White);
  border-radius: 10px;
  overflow: hidden;
}
.content {
  padding: 1.5em;
  display: grid;
  gap: 1rem;
}

.product-type {
  font-family: "Montserrat", sans-serif;
  color: var(--Darkgrayishblue);
  letter-spacing: 5px;
  font-size: 0.75rem;
}
.product-name {
  font-family: "Fraunces", serif;
  color: var(--Verydarkblue);
  line-height: 1;
}
.product-detail {
  font-family: "Montserrat", sans-serif;
  font-size: 0.875rem;
  max-width: 33ch;
  color: var(--Darkgrayishblue);
}
.price {
  display: flex;
  align-items: center;
  gap: 25px;
}
.actual-price {
  font-size: 2.5rem;
  font-family: "Fraunces", serif;
  color: var(--Darkcyan);
}
.old-price {
  font-size: 0.875rem;
  font-family: "Montserrat", sans-serif;
  color: var(--Darkgrayishblue);
  text-decoration: line-through;
}
button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: transparent;
  padding: 0.7em;
  border-radius: 10px;
  background-color: var(--Darkcyan);
  color: var(--White);
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

footer {
  bottom: 0.5em;
}
a {
  font-size: 10px;
  color: hsl(228, 45%, 44%);
}

@media (min-width:700px) {
  body{
    display: grid;
    min-height: 100vh;
    place-content: center;

  }
  .container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width:50em ;
  }
  .content{
    align-items: center;
    padding: 2.5rem;
    
  }
  .product-detail{
    word-spacing: 1px;
    max-width: 25ch;
    font-size: 15px;
  
  }
  .product-name{
    max-width: 10ch;
    font-size: 2.813rem;
  }
  
  
}
